.splat/
asm/
bin/
assets/
build/

linker_scripts/*/auto/
linker_scripts/*/pokestadium.ld
*_auto.ld
pokestadium.ld
pokestadium-*yaml

__pycache__/
.make_options

ctx.c
ctx.c.m2c
*.o

*.z64
*.n64
*.v64
*.plf
*.sym
.venv

.vscode/*
!.vscode/c_cpp_properties.json
